<div ng-controller="MdAgreementController as ma" style="background-color:#f4f4f4;">
    <div class="row" style="background-color:#f4f4f4; height:90vh;">
        <div class="row" style="margin:0; padding:10px; padding-right: 0px;">
            <div class="col-xs-6 col-sm-6">
                <span
                    style="text-transform: none; color:#000; font-family:'Open Sans'; font-size:14px; display: block; font-weight: bold; ">Please
                    Fill in the Master Details</span>
            </div>
            <div class="col-xs-6 col-sm-6">
                <span
                    style="text-transform: none; color: #093162; font-family:'Open Sans'; font-size:12px; display: block; font-weight: bold; float:right; margin-right: 20px; "
                    ng->{{ ma.DocumentTypeObjName }} Creation</span>
            </div>
        </div>

        <div class="row" style="margin-left: 25px; margin-right: 25px;">
            <div class="row" style="margin-top:0px;">
                <div class="col-xs-12 col-sm-12" style="text-align:left;">
                    <span class="spanCustomerText" style="font-weight:bold;">Document Name</span>
                </div>
            </div>

            <div class="row" style="">
                <div class="col-xs-12 col-sm-12" style="text-align:left;">
                    <input style="width:100%; height:40px; line-height:40px; margin-left:0px;"
                        class="form-control-custom" type="text" value="" readonly="readonly"
                        ng-model="ma.documentMasterDetails.Name" placeholder="document name" />
                </div>
            </div>

            <div class="row" style="margin-top:0px;">
                <div class="col-xs-6 col-sm-6" ng-class="{'hideDiv': !ma.masterdetails.StartDate.Visible}">
                    <span class="spanCustomerText" style="font-weight:bold;">Start Date</span>
                </div>
                <div class="col-xs-6 col-sm-6" ng-class="{'hideDiv': !ma.masterdetails.EndDate.Visible}">
                    <span class="spanCustomerText" style="font-weight:bold;">End Date</span>
                </div>
            </div>

            <div class="row" style="margin-top:0px;">
                <div class="col-xs-6 col-sm-6" ng-class="{'hideDiv': !ma.masterdetails.StartDate.Visible}">
                    <input type="date" ng-class="{'invalidInput': !ma.IsDateValueValid}" ng-change="ma.validateDates()"
                        ng-disabled="!ma.masterdetails.StartDate.Editable" ng-model="ma.documentMasterDetails.StartDate"
                        style="width:100%; height:40px; line-height:40px; margin-left:0px;" class="form-control-custom"
                        type="text" value="" />
                </div>
                <div class="col-xs-6 col-sm-6" ng-class="{'hideDiv': !ma.masterdetails.EndDate.Visible}">
                    <input type="date" ng-class="{'invalidInput': !ma.IsDateValueValid}" ng-change="ma.validateDates()"
                        ng-disabled="!ma.masterdetails.EndDate.Editable" ng-model="ma.documentMasterDetails.EndDate"
                        style="width:100%; height:40px; line-height:40px; margin-left:0px;" class="form-control-custom"
                        type="text" value="" />
                </div>
            </div>
            <div class="row" style="margin-top:-5px;height:16px;margin-left:0px"><span style="color:red"
                    ng-show="!ma.IsDateValueValid">{{ma.DateValueValidationMessage}}</span></div>
            <div class="row" style="margin-top:0px;">
                <div class="col-xs-6 col-sm-6">
                    <span class="spanCustomerText" style="font-weight:bold;">MV</span>

                </div>
                <div class="col-xs-6 col-sm-6"
                    ng-show="ma.market.Code == 'PT' && ma.documentMasterDetails.ShowQuarterValue == true">
                    <span class="spanCustomerText" style="font-weight:bold;">QV</span>

                </div>
                <div class="col-xs-6 col-sm-6"
                    ng-hide="ma.market.Code == 'PT' && ma.documentMasterDetails.ShowQuarterValue == true"
                    ng-class="{'hideDiv': !ma.masterdetails.Value.CurrentContractValue.Visible}">
                    <span class="spanCustomerText" style="font-weight:bold;">CV</span>

                </div>
            </div>

            <div class="row" style="margin-top:0px;">
                <div class="col-xs-6 col-sm-6">
                    <input readonly="readonly" ng-model="ma.documentMasterDetails.MaxValue"
                        style="width:100%; height:40px; line-height:40px; margin-left:0px;" class="form-control-custom"
                        type="text" />
                </div>
                <div class="col-xs-6 col-sm-6"
                    ng-show="ma.market.Code == 'PT' && ma.documentMasterDetails.ShowQuarterValue == true">
                    <input ng-class="{'invalidInput': !ma.IsContractValueValid}"
                        onkeypress="return event.charCode >= 48 && event.charCode <= 57"
                        ng-model="ma.documentMasterDetails.QuarterValue"
                        ng-change="ma.validateCurrentContractValue(); ma.validateQuarterValue()"
                        style="width:100%; height:40px; line-height:40px; margin-left:0px;" class="form-control-custom"
                        type="text" value="" />
                    <div style="height:16px"><span style="color:red"
                            ng-show="!ma.IsContractValueValid">{{ma.ContractValueValidationMessage}}</span></div>
                    <div style="height:16px"><span style="color:red"
                            ng-show="!ma.IsQuarterValueValid">{{ma.QuarterValueValidationMessage}}</span></div>
                </div>
                <div class="col-xs-6 col-sm-6"
                    ng-hide="ma.market.Code == 'PT' && ma.documentMasterDetails.ShowQuarterValue == true"
                    ng-class="{'hideDiv': !ma.masterdetails.Value.CurrentContractValue.Visible}">
                    <input ng-class="{'invalidInput': !ma.IsContractValueValid}"
                        onkeypress="return event.charCode >= 48 && event.charCode <= 57"
                        ng-readonly="ma.IsContractValueEditable()" ng-model="ma.documentMasterDetails.ContractValue"
                        ng-change="ma.validateCurrentContractValue()"
                        style="width:100%; height:40px; line-height:40px; margin-left:0px;" class="form-control-custom"
                        type="text" value="" />
                    <div style="height:16px"><span style="color:red"
                            ng-show="!ma.IsContractValueValid">{{ma.ContractValueValidationMessage}}</span></div>
                </div>
            </div>


            <div class="row" style="margin-top:0px;">
                <div class="col-xs-6 col-sm-6">
                    <span class="spanCustomerText" style="font-weight:bold;">Renewable</span>
                </div>
            </div>

            <div class="row" style="margin-top:0px;">
                <div class="col-xs-6 col-sm-6">
                    <input type="checkbox" ng-model="ma.masterdetails.Renewable" style="height: 3vh; width: 3vh;"
                        disabled="disabled" />
                    <!--<div class="input-wrapper">
                        <label class="switch">
                            <input readonly="readonly" disabled="disabled" ng-model="ma.masterdetails.renewable" type="checkbox" value="{{ma.masterdetails.renewable}}" />
                            <div class="slider round"></div>
                        </label>
                    </div>-->
                </div>
            </div>
            <div ng-if="ma.showTable == true" class="row" style="margin-top:0px;">
                <div class="col-xs-6 col-sm-6">
                    <span class="spanCustomerText" style="font-weight:bold;">The selectd template will end these
                        documents</span>
                </div>
            </div>
            <div ng-if="ma.showTable == true" class="row" style="margin-top:0px;">
                <div class="col-sm-12">
                    <table class="table" style="max-height: 250px;overflow: auto;display: inline-block;">
                        <thead>
                            <tr>
                                <th>Document ID</th>
                                <th>Document Template</th>
                                <th>Creation Date</th>
                                <th>Start Date</th>
                                <th>End Date</th>
                                <th>Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat='data in ma.replacedDocuments'>
                                <td>{{ data.documentNumber }}</td>
                                <td>{{ data.documentTemplate }}</td>
                                <td>{{ data.creationDate | date:"yyyy-MM-dd HH:mm" }}</td>
                                <td>{{ data.startDate | date:"yyyy-MM-dd HH:mm" }}</td>
                                <td>{{ data.endDate | date:"yyyy-MM-dd HH:mm" }}</td>
                                <td>{{ data.status | date:"yyyy-MM-dd HH:mm" }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <!--<div class="row" style="height:7vh; width: 94vw; position: absolute; bottom: 0;">
            <div class="col-xs-6 col-sm-6" style="text-align:left; padding-left: 25px;">
                <input ng-click="ma.selectPrevStep()" value="Previous" style="text-align:left; height: 5vh; width: 200px; border-radius: 25px; background-color: #585858; border:0;" class="button-prev btn btn-primary" type="button">
            </div>
            <div class="col-xs-6 col-sm-6" style="text-align:right; padding-right: 25px;">
                <input ng-click="ma.selectNextStep('/')" value="Next" style="text-align:right; height: 5vh; width: 200px; border-radius: 25px; background-color: #585858; border:0;" class="button-next btn btn-primary" type="button">
            </div>
        </div>-->
    </div>
</div>



<!--OLD LAYOUT-->
<!--<div ng-controller="MdAgreementController as ma" style="">

    <div class="row" style="background-color:#F3F2E8; height:70vh;">
        <div class="col-xs-12 col-sm-12" style="height: 80vh;margin: 0;">
            <div class="row" style="background-color: #ccc; margin-top: 0;">
                <div class="col-xs-12 col-sm-12" style="margin-top: 15px;">

                    <img src="images/ag_mstrdtl-icon-sel.png" style="float:right;" />
                    <span style="color:#0C4C93;display:block; margin-top: -5px; padding-bottom: 10px; color:rgba(0, 0, 0, 0.79); font-size:18px; font-family:'Open Sans'; text-transform:none;">Master Details</span>
                </div>
            </div>

            <div class="row" style="margin-top:10px;">
                <div class="col-xs-12 col-sm-12" style="text-align:left;">
                    <span class="spanMasterDetailsForm">Document Name</span>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12 col-sm-12" style="text-align:left;">
                    <input style="width:100%; height:40px; line-height:40px; margin-left:0px;" class="form-control-custom" type="text" value="" readonly="readonly" ng-model="ma.documentMasterDetails.Name" placeholder="document name" />
                </div>
            </div>

            <div class="row" style="margin-top:20px;">
                <div class="col-xs-6 col-sm-6" ng-class="{'hideDiv': !ma.masterdetails.StartDate.Visible}">
                    <span class="spanMasterDetailsForm">Start Date</span>
                </div>
                <div class="col-xs-6 col-sm-6" ng-class="{'hideDiv': !ma.masterdetails.EndDate.Visible}">
                    <span class="spanMasterDetailsForm">End Date</span>
                </div>
            </div>

            <div class="row" style="margin-top:0px;">
                <div class="col-xs-6 col-sm-6" ng-class="{'hideDiv': !ma.masterdetails.StartDate.Visible}">
                    <input type="date" ng-readonly="!ma.masterdetails.StartDate.Editable" ng-model="ma.documentMasterDetails.StartDate" style="width:100%; height:40px; line-height:40px; margin-left:0px;" class="form-control-custom" type="text" value="" />
                </div>
                <div class="col-xs-6 col-sm-6" ng-class="{'hideDiv': !ma.masterdetails.EndDate.Visible}">
                    <input type="date" ng-readonly="!ma.masterdetails.EndDate.Editable" ng-model="ma.documentMasterDetails.EndDate" style="width:100%; height:40px; line-height:40px; margin-left:0px;" class="form-control-custom" type="text" value="" />
                </div>
            </div>

            <div class="row" style="margin-top:20px;">
                <div class="col-xs-6 col-sm-6">
                    <span class="spanMasterDetailsForm">Max Contract Value</span>

                </div>
                <div class="col-xs-6 col-sm-6" ng-class="{'hideDiv': !ma.masterdetails.Value.CurrentContractValue.Visible}">
                    <span class="spanMasterDetailsForm">Current Contract Value</span>

                </div>
            </div>

            <div class="row" style="margin-top:0px;">
                <div class="col-xs-6 col-sm-6">
                    <input readonly="readonly" ng-model="ma.documentMasterDetails.MaxValue" style="width:100%; height:40px; line-height:40px; margin-left:0px;" class="form-control-custom" type="text" value="" />
                </div>
                <div class="col-xs-6 col-sm-6" ng-class="{'hideDiv': !ma.masterdetails.Value.CurrentContractValue.Visible}">
                    <input ng-readonly="ma.masterdetails.Value.CurrentContractValue.Editable == 'true'" ng-model="ma.documentMasterDetails.ContractValue" style="width:100%; height:40px; line-height:40px; margin-left:0px;" class="form-control-custom" type="text" value="" />
                </div>
            </div>


            <div class="row" style="margin-top:20px;">
                <div class="col-xs-6 col-sm-6">
                    <span class="spanMasterDetailsForm">Renewable</span>
                </div>
            </div>

            <div class="row" style="margin-top:0px;">
                <div class="col-xs-6 col-sm-6">
                    <div class="input-wrapper">
                        <label class="switch">
                            <input readonly="readonly" disabled="disabled" ng-model="ma.masterdetails.renewable" type="checkbox" value="{{ma.masterdetails.renewable}}" />
                            <div class="slider round"></div>
                        </label>
                    </div>
                </div>
            </div>




        </div>
    </div>




    <div class="row" style="width:100%; height:5vh; background-color:#F3F2E8;position:absolute; margin-top: -15px;">
        <div class="col-xs-6 col-sm-6" style="text-align:left; padding-left: 25px;">
            <input ng-click="ma.navigateTo2('/')" value="Previous" style="height: 50px; width: 200px; border-radius: 25px; background-color: #0d4c93; border:0;" class="button-prev btn btn-primary" type="button">
        </div>
        <div class="col-xs-6 col-sm-6" style="text-align:right; padding-right: 25px;">
            <input ng-click="ma.selectNextStep('/')" value="Next" style="height: 50px; width: 200px; border-radius: 25px; background-color: #0d4c93; border:0;" class="button-next btn btn-primary" type="button">
        </div>
    </div>

</div>-->