name: Main Workflow

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  main_job:
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v4  # Asegúrate de hacer checkout del código primero

      - name: Run Pipeline Deploy
        uses: ./.github/workflows/pipeline-deploy.yml
