name: Pipeline Deploy

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  build:
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v4
      - name: Change XML Node Value
        run: |
          # Set the new name
          sed -i '' "s/<name>.*<\/name>/<name>WeSign<\/name>/g" config.xml
          sed -i '' 's/version="[^"]*"/version="'${{ vars.VERSION }}'"/' config.xml
          sed -i '' 's/var vesionAppConfig = ".*";/var vesionAppConfig = "'${{ vars.VERSION }}'";/' www/scripts/app/config.js
          sed -i '' 's/var environmentConfig = EnviromentType\.[a-z]*;/var environmentConfig = '${{ vars.ENVIRONMENT_PROD }}';/' www/scripts/app/config.js

      - name: Ver contenido de un archivo
        run: |
          cat config.xml
          cat www/scripts/app/config.js

      
      
