name: Pipeline Deploy

on:    
  push:        
    branches: [ "main" ]    
  pull_request:        
    branches: [ "main" ]    
  workflow_dispatch:

jobs:  
  build:    
    runs-on: macos-latest    
    steps:      
      - uses: actions/checkout@v4      
      - name: Install Node.js        
        uses: actions/setup-node@v4        
        with:          
          node-version: '18.4.0'          
          cache: 'npm'              
      - name: Install Cordova        
        run: npm install -g cordova      
      - name: Install NPM        
        run: npm install      
      - name: Remove Xcode Project        
        run: cordova platform rm ios      
      - name: Create Xcode Project        
        run: cordova platform add ios      
      - name: Save Build Artifacts        
        uses: actions/upload-artifact@v4        
        with:          
          name: xcode-build          
          path: platforms/ios

  deploy:    
    needs: build    
    runs-on: macos-latest    
    steps:      
      - uses: actions/checkout@v4      
      - name: Download Build Artifacts        
        uses: actions/download-artifact@v4        
        with:          
          name: xcode-build      
      - name: Install Fastlane        
        run: sudo gem install fastlane -NV      
      - name: Set up Provisioning Profiles and Certificates        
        env:
          P12_PASSWORD: ${{ secrets.P12_PASSWORD }}
          BUILD_CERTIFICATE_BASE64: ${{ secrets.BUILD_CERTIFICATE_BASE64 }}
          BUILD_CERTIFICATE_PROFILE_BASE64: ${{ secrets.BUILD_CERTIFICATE_PROFILE_BASE64 }}
          APP_STORE_CONNECT_API_KEY_JSON: ${{ secrets.APP_STORE_CONNECT_API_KEY_JSON }}
        run: |
          echo "$BUILD_CERTIFICATE_BASE64" | base64 --decode > /tmp/certificate.p12
          echo "$BUILD_CERTIFICATE_PROFILE_BASE64" | base64 --decode > /tmp/provisioning_profile.mobileprovision
          security create-keychain -p 'tu-contraseña-del-llavero' build.keychain
          security default-keychain -s build.keychain
          security unlock-keychain -p 'tu-contraseña-del-llavero' build.keychain
          security import /tmp/certificate.p12 -k build.keychain -P $P12_PASSWORD -T /usr/bin/codesign
          mkdir -p ~/Library/MobileDevice/Provisioning\ Profiles
          cp /tmp/provisioning_profile.mobileprovision ~/Library/MobileDevice/Provisioning\ Profiles/
          security list-keychains -d user -s build.keychain login.keychain
      - name: Authenticate with Apple
        env:
          FASTLANE_USER: ${{ secrets.APPLE_ID }}
          FASTLANE_PASSWORD: ${{ secrets.APPLE_PASSWORD }}
          APP_STORE_CONNECT_API_KEY_JSON: ${{ secrets.APP_STORE_CONNECT_API_KEY_JSON }}
        run: |
          echo "$APP_STORE_CONNECT_API_KEY_JSON" | base64 --decode > /tmp/AuthKey.p8
          fastlane match development --readonly --api_key_path /tmp/AuthKey.p8

      - name: Build Xcode Project        
        run: |
          xcodebuild -workspace "WeSign QA.xcworkspace" -scheme "WeSign QA" -configuration Debug -sdk iphoneos -destination 'generic/platform=iOS' build -allowProvisioningUpdates DEVELOPMENT_TEAM=5W676X87Z3 IPHONEOS_DEPLOYMENT_TARGET=12.0
