# This is a basic workflow to help you get started with Actions
name: Pipeline Deploy

# Controls when the workflow will run
on:  
  push:    
    branches: [ "main" ]  
  pull_request:    
    branches: [ "main" ]  
  workflow_dispatch:

jobs:  
    build:
      runs-on: macos-latest
      steps:
        - uses: actions/checkout@v4

        - name: Install Node.js
          uses: actions/setup-node@v4
          with:
            node-version: '18.4.0'
            cache: 'npm'
            
        - name: Install Cordova
          run: npm install -g cordova

        - name: Install NPM
          run: npm install

        - name: Remove Xcode
          run: cordova platform rm ios

        - name: Crate Xcode Project
          run: cordova platform add ios

        - name: Save Build Artifacts        
          uses: actions/upload-artifact@v4     
          with:          
            name: xcode-build          
            path: platforms/ios
    deploy:
      needs: build
      runs-on: macos-latest
      steps:
        - uses: actions/checkout@v4      
        - name: Download Build Artifacts        
          uses: actions/download-artifact@v4
          with:          
            name: xcode-build

        - name: Install Fastlane        
          run: sudo gem install fastlane -NV
          
        - name: Set up Provisioning Profiles and Certificates        
          env:
            P12_PASSWORD: ${{ secrets.P12_PASSWORD }}
            BUILD_CERTIFICATE_BASE64: ${{ secrets.BUILD_CERTIFICATE_BASE64 }}
            BUILD_CERTIFICATE_PROFILE_BASE64: ${{ secrets.BUILD_CERTIFICATE_PROFILE_BASE64 }}
          run: |
            # Desbloquear el llavero para agregar certificados
            security unlock-keychain -p <your-keychain-password>
            # Importar certificado
            security import $BUILD_CERTIFICATE_BASE64 -k ~/Library/Keychains/login.keychain -P $P12_PASSWORD -T /usr/bin/codesign
            # Copiar perfiles de aprovisionamiento al directorio de perfiles
            mkdir -p ~/Library/MobileDevice/Provisioning\ Profiles
            cp $BUILD_CERTIFICATE_PROFILE_BASE64 ~/Library/MobileDevice/Provisioning\ Profiles/

        - name: Build Xcode Project        
          run: |
            xcodebuild -workspace "WeSign QA.xcworkspace" -scheme "WeSign QA" -configuration Debug -sdk iphoneos -destination 'generic/platform=iOS' build -allowProvisioningUpdates DEVELOPMENT_TEAM=5W676X87Z3 IPHONEOS_DEPLOYMENT_TARGET=12.0
