name: Pipeline Deploy

on:    
  push:        
    branches: [ "main" ]    
  pull_request:        
    branches: [ "main" ]    
  workflow_dispatch:

jobs:  
  build:    
    runs-on: macos-latest    
    steps:      
      - uses: actions/checkout@v4     
      - name: Set up Provisioning Profiles and Certificates        
        env:
          P12_PASSWORD: ${{ secrets.P12_PASSWORD }}
          BUILD_CERTIFICATE_BASE64: ${{ secrets.BUILD_CERTIFICATE_BASE64 }}
          BUILD_CERTIFICATE_PROFILE_BASE64: ${{ secrets.BUILD_CERTIFICATE_PROFILE_BASE64 }}
          KEYCHAIN_PASSWORD: ${{ secrets.KEYCHAIN_PASSWORD }}
        run: |
                # create variables
                CERTIFICATE_PATH=$RUNNER_TEMP/build_certificate.p12
                PP_PATH=$RUNNER_TEMP/build_pp.mobileprovision
                KEYCHAIN_PATH=$RUNNER_TEMP/app-signing.keychain-db
      
                # import certificate and provisioning profile from secrets
                echo -n "$BUILD_CERTIFICATE_BASE64" | base64 --decode --output $CERTIFICATE_PATH
                echo -n "$BUILD_PROVISION_PROFILE_BASE64" | base64 --decode --output $PP_PATH
      
                # create temporary keychain
                security create-keychain -p "$KEYCHAIN_PASSWORD" $KEYCHAIN_PATH
                security set-keychain-settings -lut 21600 $KEYCHAIN_PATH
                security default-keychain -s "$KEYCHAIN_PATH"
                security unlock-keychain -p "$KEYCHAIN_PASSWORD" $KEYCHAIN_PATH
      
                # import certificate to keychain
                security import $CERTIFICATE_PATH -P "$P12_PASSWORD" -A -t cert -f pkcs12 -k $KEYCHAIN_PATH
                security list-keychain -d user -s $KEYCHAIN_PATH
      
                # apply provisioning profile
                mkdir -p ~/Library/MobileDevice/Provisioning\ Profiles
                cp $PP_PATH ~/Library/MobileDevice/Provisioning\ Pro

      - name: List Keychains
        run: security list-keychains

      
      - name: Unlock Keychain
        run: security unlock-keychain -p '$KEYCHAIN_PASSWORD' /Users/runner/Library/Keychains/build.keychain-db

      - name: Set Default Keychain
        run: security list-keychains -s /Users/runner/Library/Keychains/build.keychain-db

      - name: Verify Keychain Permissions
        run: security set-keychain-settings /Users/runner/Library/Keychains/build.keychain-db



        
      
      - name: Check Disk Space
        run: df -h

        
      - name: Save Build Artifacts        
        uses: actions/upload-artifact@v4        
        with:          
          name: xcode-build          
          path: platforms/ios

  
