name: Pipeline Deploy

on:    
  push:        
    branches: [ "main" ]    
  pull_request:        
    branches: [ "main" ]    
  workflow_dispatch:

jobs:  
  build:    
    runs-on: macos-latest    
    steps:      
      - uses: actions/checkout@v4      
      - name: Install Node.js        
        uses: actions/setup-node@v4        
        with:          
          node-version: '18.4.0'          
          cache: 'npm'              
      - name: Install Cordova        
        run: npm install -g cordova      
      - name: Install NPM        
        run: npm install      
      - name: Remove Xcode Project        
        run: cordova platform rm ios      
      - name: Create Xcode Project        
        run: cordova platform add ios      
      - name: Save Build Artifacts        
        uses: actions/upload-artifact@v4        
        with:          
          name: xcode-build          
          path: platforms/ios
      - name: Mostrar contenido JSON
        run: cat build.json

  deploy:    
    needs: build    
    runs-on: macos-latest
    steps:      
      - uses: actions/checkout@v4      
      - name: Download Build Artifacts        
        uses: actions/download-artifact@v4        
        with:          
          name: xcode-build      
      - name: Install Fastlane        
        run: sudo gem install fastlane -NV      
      - name: Set up Provisioning Profiles and Certificates        
        env:
          P12_PASSWORD: ${{ secrets.P12_PASSWORD }}
          BUILD_CERTIFICATE_BASE64: ${{ secrets.BUILD_CERTIFICATE_BASE64 }}
          BUILD_CERTIFICATE_PROFILE_BASE64: ${{ secrets.BUILD_CERTIFICATE_PROFILE_BASE64 }}
          KEYCHAIN_PASSWORD: ${{ secrets.KEYCHAIN_PASSWORD }}
        run: |
          echo "$BUILD_CERTIFICATE_BASE64" | base64 --decode > /tmp/certificate.p12
          echo "$BUILD_CERTIFICATE_PROFILE_BASE64" | base64 --decode > /tmp/provisioning_profile.mobileprovision
          security create-keychain -p 'mi-contraseña-segura' build.keychain
          security default-keychain -s build.keychain
          security unlock-keychain -p 'mi-contraseña-segura' build.keychain
          security import /tmp/certificate.p12 -k build.keychain -P $P12_PASSWORD -T /usr/bin/codesign
          mkdir -p ~/Library/MobileDevice/Provisioning\ Profiles
          cp /tmp/provisioning_profile.mobileprovision ~/Library/MobileDevice/Provisioning\ Profiles/
          security list-keychains -d user -s build.keychain login.keychain

      - name: Build Xcode Project        
        run: |
          xcodebuild -scheme "WeSign QA" \
          -archivePath $RUNNER_TEMP/iamgroot.xcarchive \
          -sdk iphoneos \
          -configuration Debug \
          -destination generic/platform=iOS \
          CODE_SIGN_STYLE=Manual \
          clean archive  
