# This is a basic workflow to help you get started with Actions
name: Pipeline Deploy

# Controls when the workflow will run
on:  
  push:    
    branches: [ "main" ]  
  pull_request:    
    branches: [ "main" ]  
  workflow_dispatch:

jobs:  
    build:
      runs-on: macos-latest
      steps:
        - uses: actions/checkout@v4

        - name: Install Node.js
          uses: actions/setup-node@v4
          with:
            node-version: '18.4.0'
            cache: 'npm'
            
        - name: Install Cordova
          run: npm install -g cordova

        - name: Install NPM
          run: npm install

        - name: Remove Xcode
          run: cordova platform rm ios

        #- name: Crate Xcode Project
        #  run: cordova platform add ios
    deploy:
      needs: build
      runs-on: macos-latest
      steps:
        - name: list files
          run: ls -la ./platforms
